body {
	background-color: rgb(56, 2, 2);
	display: flex;
	width: 100%;
	margin: 0;
	overflow-y: hidden;
	font-family: 'Almendra', serif;
}

header {
	position: fixed;
	top: 0;
	height: 5%;
	font-size: 5vh;
	color: rgb(218,165,32);
	width: 100%;
	text-align: center;
}

main {
	width: 100vw;
	/*background-color: white;*/
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

footer {
	position: fixed;
	bottom: 0;
	height: 5%;
	font-size: 5vh;
	color: rgb(218,165,32);
	width: 100%;
	text-align: center;
	padding: 2vh;
}

#demo {
	background-color: red;
}

#container {
	position: relative;
	
}
#game-board {
	width: 80vh;
	height: 80vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

#overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 80vh;
	height: 80vh;
	visibility: hidden;
}

.stat-bar {
	text-align: center;
	position: relative;
}

.stats {
	height: 100vh;
	position: relative;
	max-width: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	overflow-x: hidden;
	padding: 20px;
}

#player-one-stats {
	height: 100vh;
	position: relative;
	visibility: hidden;
	background-color: rgb(218,165,32);
}

#player-two-stats {
	height: 100vh;
	position: relative;
	visibility: hidden;
	background-color: rgb(218,165,32);
}

/*.arrow-button {
	min-width: 25px;
	background-color: purple;
	height: 100%;
	visibility: hidden;
}*/

#p1StartScreen, #p2StartScreen {
	height: 70%;
	width: 50%;
	border-radius: 35px;
	background-color: rgb(218,165,32);
	position: absolute;
	/*opacity: 0.2;*/
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 1px yellow solid;
	align-items: center;
}

#p1StartScreen {
	z-index: 2;
}

#p2StartScreen {
	z-index: 1;
}

.HP {
	font-size: 25px
}

#p1HP, #p2HP {
	font-size: 30px;
	color: maroon;
}



input {
	width: 300px;
	height: 50px;
	font-size: 40px; 
	background-color: white;
}

button {
	width: 100px;
	height: 50px;
	font-size: 20px;
	background-color: white;
	color: black;
}

.icon {
	z-index: 2;
}
.moveSpace {
	animation: moveHighlight 2s infinite;
}
@keyframes moveHighlight {
	50% {background-color: yellow;}
}

.messageAnimate {
	animation: messageAnimate 1.5s linear 0s 4;
}
@keyframes messageAnimate {
	50% {color: rgb(56, 2, 2);}
}

.attackSpace {
	animation: attackHighlight 1s infinite;
}
@keyframes attackHighlight {
	50% {background-color: red;}
}

.endScreen {
	width: 80vh;
	height: 80vh;
	background-color: rgb(56, 2, 2);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	z-index: 3;
	position: absolute;
	background-image: url("http://www.transparentpng.com/thumb/scroll/scroll-png-transparent-image--6.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}



